In [15]:
# supress warnings
import warnings
warnings.filterwarnings('ignore')

# Importing all required packages
import numpy as np
import pandas as pd

# Data viz lib
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from matplotlib.pyplot import xticks

In [16]:
#Read data
employeeData = pd.read_csv('employee.csv')
employeeData.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [17]:
employeeData.info() #Checking for the shape, null values, datatypes of columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   object
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   object
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   object
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(26), object(9)
memory usage: 402.1+ KB

## Filtering All Employees with Attrition = No

In [18]:
attrNoData = employeeData[(employeeData.Attrition == "No")]

In [19]:
attrNoData

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2
5,32,No,Travel_Frequently,1005,Research & Development,2,2,Life Sciences,1,8,...,3,80,0,8,2,2,7,7,3,6
6,59,No,Travel_Rarely,1324,Research & Development,3,3,Medical,1,10,...,1,80,3,12,3,2,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,No,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,...,3,80,1,17,3,3,5,2,0,3
1466,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,...,1,80,1,9,5,3,7,7,1,7
1467,27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,...,2,80,1,6,0,3,6,2,0,3
1468,49,No,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,...,4,80,0,17,3,2,9,6,0,8
1469,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068,...,1,80,0,6,3,4,4,3,1,2

##  Further Filtering all "Attrition = No" employees with condition "BusinessTravel == "Travel_Frequently" as per problem statement

In [20]:
AttrNoTravelFreq = attrNoData[(attrNoData.BusinessTravel == "Travel_Frequently")]

In [21]:
AttrNoTravelFreq

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
5,32,No,Travel_Frequently,1005,Research & Development,2,2,Life Sciences,1,8,...,3,80,0,8,2,2,7,7,3,6
8,38,No,Travel_Frequently,216,Research & Development,23,3,Life Sciences,1,12,...,2,80,0,10,2,3,9,7,1,8
39,33,No,Travel_Frequently,1141,Sales,1,3,Life Sciences,1,52,...,1,80,2,10,3,3,5,3,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1418,38,No,Travel_Frequently,508,Research & Development,6,4,Life Sciences,1,1997,...,4,80,1,10,1,3,8,3,7,7
1440,36,No,Travel_Frequently,688,Research & Development,4,2,Life Sciences,1,2025,...,2,80,3,18,3,3,4,2,0,2
1456,35,No,Travel_Frequently,1199,Research & Development,18,4,Life Sciences,1,2049,...,4,80,2,10,2,4,10,2,0,2
1465,36,No,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,...,3,80,1,17,3,3,5,2,0,3
1468,49,No,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,...,4,80,0,17,3,2,9,6,0,8

## Creating 3 Datasets for HR, Sales and R&D department with condition "Attrition = No" & "BusinessTravel == "Travel_Frequently"

In [22]:
hrEmployees = AttrNoTravelFreq[(AttrNoTravelFreq.Department == "Human Resources")] 
SalesEmployees = AttrNoTravelFreq[(AttrNoTravelFreq.Department == "Sales")]
RnDEmployees = AttrNoTravelFreq[(AttrNoTravelFreq.Department == "Research & Development")]

In [23]:
hrEmployees

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
477,50,No,Travel_Frequently,1246,Human Resources,3,3,Medical,1,644,...,3,80,1,32,2,3,32,5,10,7
923,34,No,Travel_Frequently,648,Human Resources,11,3,Life Sciences,1,1289,...,4,80,2,14,5,4,10,9,1,8
1107,38,No,Travel_Frequently,888,Human Resources,10,4,Human Resources,1,1563,...,3,80,0,10,2,3,6,3,1,2
1165,44,No,Travel_Frequently,602,Human Resources,1,5,Human Resources,1,1642,...,3,80,0,14,3,3,10,7,0,2
1245,24,No,Travel_Frequently,897,Human Resources,10,3,Medical,1,1746,...,4,80,1,3,2,3,2,2,2,1
1347,36,No,Travel_Frequently,1213,Human Resources,2,1,Human Resources,1,1890,...,4,80,0,10,2,2,10,1,0,8
1400,38,No,Travel_Frequently,1444,Human Resources,1,4,Other,1,1972,...,2,80,1,7,2,3,6,2,1,2

In [24]:
SalesEmployees

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
39,33,No,Travel_Frequently,1141,Sales,1,3,Life Sciences,1,52,...,1,80,2,10,3,3,5,3,1,3
43,27,No,Travel_Frequently,994,Sales,8,3,Life Sciences,1,56,...,4,80,0,9,0,3,9,8,1,7
48,46,No,Travel_Frequently,1211,Sales,5,4,Marketing,1,62,...,3,80,0,14,4,3,9,6,0,8
56,35,No,Travel_Frequently,853,Sales,18,5,Life Sciences,1,74,...,4,80,1,9,3,2,9,8,1,8
70,59,No,Travel_Frequently,1225,Sales,1,1,Life Sciences,1,91,...,4,80,0,20,2,2,4,3,1,3
117,36,No,Travel_Frequently,1467,Sales,11,2,Technical Degree,1,154,...,3,80,1,10,6,3,9,7,2,8
119,43,No,Travel_Frequently,394,Sales,26,2,Life Sciences,1,158,...,4,80,2,25,3,4,25,12,4,12
131,50,No,Travel_Frequently,809,Sales,12,3,Marketing,1,174,...,4,80,0,16,3,3,2,2,2,1
144,32,No,Travel_Frequently,689,Sales,9,2,Medical,1,195,...,4,80,3,9,2,4,8,7,0,7
154,32,No,Travel_Frequently,967,Sales,8,3,Marketing,1,207,...,4,80,0,9,2,3,9,8,3,7
159,34,No,Travel_Frequently,303,Sales,2,4,Marketing,1,216,...,4,80,1,6,3,3,4,3,1,2
212,27,No,Travel_Frequently,1242,Sales,20,3,Life Sciences,1,293,...,4,80,0,7,2,3,7,7,0,7
226,37,No,Travel_Frequently,319,Sales,4,4,Marketing,1,311,...,3,80,1,13,2,3,9,8,5,8
227,29,No,Travel_Frequently,1413,Sales,1,1,Medical,1,312,...,4,80,1,11,5,3,11,10,4,1
228,35,No,Travel_Frequently,944,Sales,1,3,Marketing,1,314,...,1,80,0,10,3,4,10,7,0,8
282,29,No,Travel_Frequently,442,Sales,2,2,Life Sciences,1,388,...,1,80,0,10,3,2,10,7,0,9
292,31,No,Travel_Frequently,444,Sales,5,3,Marketing,1,399,...,3,80,1,2,5,2,2,2,2,2
295,42,No,Travel_Frequently,555,Sales,26,3,Marketing,1,404,...,4,80,1,23,2,4,20,4,4,8
328,33,No,Travel_Frequently,508,Sales,10,3,Marketing,1,446,...,3,80,0,9,6,2,7,7,0,1
347,47,No,Travel_Frequently,1309,Sales,4,1,Medical,1,467,...,1,80,0,5,3,3,0,0,0,0
359,36,No,Travel_Frequently,541,Sales,3,4,Medical,1,481,...,1,80,1,16,2,3,13,9,1,12
401,56,No,Travel_Frequently,906,Sales,6,3,Life Sciences,1,532,...,4,80,3,36,0,2,7,7,7,7
427,60,No,Travel_Frequently,1499,Sales,28,3,Marketing,1,573,...,4,80,0,22,5,4,18,13,13,11
470,24,No,Travel_Frequently,535,Sales,24,3,Medical,1,632,...,3,80,2,3,3,3,2,2,2,1
521,27,No,Travel_Frequently,1410,Sales,3,1,Medical,1,714,...,2,80,2,6,3,3,6,5,0,4
533,40,No,Travel_Frequently,580,Sales,5,4,Life Sciences,1,729,...,3,80,1,20,2,3,18,13,1,12
544,47,No,Travel_Frequently,217,Sales,3,3,Medical,1,746,...,4,80,2,28,2,2,22,2,11,13
548,43,No,Travel_Frequently,775,Sales,15,3,Life Sciences,1,754,...,3,80,1,7,5,3,2,2,2,2
576,27,No,Travel_Frequently,829,Sales,8,1,Marketing,1,800,...,2,80,1,5,3,3,4,2,1,1
641,32,No,Travel_Frequently,379,Sales,5,2,Life Sciences,1,889,...,4,80,1,10,3,3,10,8,5,3
648,37,No,Travel_Frequently,1231,Sales,21,2,Medical,1,900,...,2,80,1,10,3,3,5,4,0,0
685,26,No,Travel_Frequently,1283,Sales,1,3,Medical,1,956,...,2,80,0,7,2,3,7,7,0,7
697,29,No,Travel_Frequently,1404,Sales,20,3,Technical Degree,1,974,...,2,80,1,3,5,3,3,1,0,2
760,53,No,Travel_Frequently,124,Sales,2,3,Marketing,1,1050,...,1,80,1,30,2,3,15,7,6,12
802,33,No,Travel_Frequently,970,Sales,7,3,Life Sciences,1,1114,...,3,80,1,4,3,3,3,2,0,2
818,31,No,Travel_Frequently,793,Sales,20,3,Life Sciences,1,1135,...,1,80,1,3,4,3,2,2,2,2
820,35,No,Travel_Frequently,1182,Sales,11,2,Marketing,1,1137,...,4,80,1,5,3,3,5,2,0,2
866,40,No,Travel_Frequently,1184,Sales,2,4,Medical,1,1212,...,4,80,3,5,2,3,0,0,0,0
872,33,No,Travel_Frequently,1146,Sales,25,3,Medical,1,1220,...,1,80,1,10,3,2,10,7,0,1
918,51,No,Travel_Frequently,237,Sales,9,3,Life Sciences,1,1282,...,1,80,1,31,5,2,29,10,11,10
960,41,No,Travel_Frequently,1018,Sales,1,3,Marketing,1,1349,...,4,80,1,10,2,3,9,3,1,7
968,36,No,Travel_Frequently,607,Sales,7,3,Marketing,1,1362,...,4,80,1,17,2,2,15,7,6,13
974,27,No,Travel_Frequently,793,Sales,2,1,Life Sciences,1,1371,...,2,80,0,8,3,3,6,2,0,0
987,51,No,Travel_Frequently,541,Sales,2,3,Marketing,1,1391,...,2,80,0,14,5,3,4,2,3,2
990,33,No,Travel_Frequently,1111,Sales,5,1,Life Sciences,1,1395,...,1,80,0,8,2,4,5,4,1,2
1047,33,No,Travel_Frequently,430,Sales,7,3,Medical,1,1477,...,1,80,2,5,2,3,4,3,0,3
1051,44,No,Travel_Frequently,383,Sales,1,5,Marketing,1,1481,...,3,80,1,11,4,2,1,0,0,0
1070,28,No,Travel_Frequently,467,Sales,7,3,Life Sciences,1,1507,...,4,80,0,5,5,3,4,2,1,3
1144,31,No,Travel_Frequently,715,Sales,2,4,Other,1,1613,...,4,80,0,10,3,3,5,2,0,3
1211,37,No,Travel_Frequently,1278,Sales,1,4,Medical,1,1700,...,3,80,2,6,2,2,6,3,1,3
1292,39,No,Travel_Frequently,766,Sales,20,3,Life Sciences,1,1812,...,4,80,1,7,6,3,2,1,2,2
1306,31,No,Travel_Frequently,1125,Sales,7,4,Marketing,1,1833,...,4,80,2,9,3,3,3,2,2,2
1316,43,No,Travel_Frequently,1422,Sales,2,4,Life Sciences,1,1849,...,3,80,1,7,5,3,7,7,7,7
1319,32,No,Travel_Frequently,1318,Sales,10,4,Marketing,1,1853,...,3,80,0,4,2,4,0,0,0,0
1364,28,No,Travel_Frequently,783,Sales,1,2,Life Sciences,1,1927,...,3,80,1,7,2,3,7,7,0,7
1468,49,No,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,...,4,80,0,17,3,2,9,6,0,8

In [25]:
RnDEmployees

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
5,32,No,Travel_Frequently,1005,Research & Development,2,2,Life Sciences,1,8,...,3,80,0,8,2,2,7,7,3,6
8,38,No,Travel_Frequently,216,Research & Development,23,3,Life Sciences,1,12,...,2,80,0,10,2,3,9,7,1,8
44,30,No,Travel_Frequently,721,Research & Development,1,2,Medical,1,57,...,4,80,0,12,2,3,12,8,3,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1409,40,No,Travel_Frequently,692,Research & Development,11,3,Technical Degree,1,1985,...,1,80,1,10,2,4,10,9,9,4
1418,38,No,Travel_Frequently,508,Research & Development,6,4,Life Sciences,1,1997,...,4,80,1,10,1,3,8,3,7,7
1440,36,No,Travel_Frequently,688,Research & Development,4,2,Life Sciences,1,2025,...,2,80,3,18,3,3,4,2,0,2
1456,35,No,Travel_Frequently,1199,Research & Development,18,4,Life Sciences,1,2049,...,4,80,2,10,2,4,10,2,0,2
1465,36,No,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,...,3,80,1,17,3,3,5,2,0,3

# 1.

## Below are the employees who are from R&D Department and are "Research Scientist"

In [26]:
RnDResearchScientistiEmployees = RnDEmployees[(RnDEmployees.JobRole == 'Research Scientist')]
RnDResearchScientistiEmployees

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
68,35,No,Travel_Frequently,664,Research & Development,1,3,Medical,1,88,...,4,80,1,5,2,2,3,2,1,2
120,30,No,Travel_Frequently,1312,Research & Development,23,3,Life Sciences,1,159,...,3,80,3,10,2,2,10,7,0,9
130,43,No,Travel_Frequently,957,Research & Development,28,3,Medical,1,171,...,4,80,0,18,2,3,3,2,1,2
150,40,No,Travel_Frequently,1395,Research & Development,26,3,Medical,1,202,...,1,80,1,20,2,3,20,7,2,13
202,34,No,Travel_Frequently,878,Research & Development,10,4,Medical,1,277,...,4,80,1,5,4,4,5,3,2,0
294,37,No,Travel_Frequently,889,Research & Development,9,3,Medical,1,403,...,3,80,3,4,3,2,4,2,1,2
332,54,No,Travel_Frequently,928,Research & Development,20,4,Life Sciences,1,450,...,4,80,0,20,4,2,4,3,0,3
409,42,No,Travel_Frequently,532,Research & Development,29,2,Life Sciences,1,547,...,2,80,1,19,3,3,5,4,0,2
501,30,No,Travel_Frequently,160,Research & Development,3,3,Medical,1,680,...,3,80,1,1,2,3,1,0,0,0
519,29,No,Travel_Frequently,806,Research & Development,1,4,Life Sciences,1,710,...,4,80,1,10,5,3,10,7,2,8
606,34,No,Travel_Frequently,702,Research & Development,16,4,Life Sciences,1,838,...,3,80,0,6,3,3,5,2,1,3
623,30,No,Travel_Frequently,1012,Research & Development,5,4,Life Sciences,1,861,...,2,80,1,10,3,2,5,4,0,3
632,42,No,Travel_Frequently,1271,Research & Development,2,1,Medical,1,875,...,4,80,0,8,2,3,2,1,2,2
691,40,No,Travel_Frequently,1469,Research & Development,9,4,Medical,1,964,...,4,80,1,3,2,3,1,1,0,0
722,38,No,Travel_Frequently,1391,Research & Development,10,1,Medical,1,1006,...,2,80,1,3,0,2,2,1,0,2
765,38,No,Travel_Frequently,1186,Research & Development,3,4,Other,1,1060,...,1,80,1,8,2,3,2,2,2,2
769,26,No,Travel_Frequently,921,Research & Development,1,1,Medical,1,1068,...,3,80,2,5,5,3,5,3,1,3
772,56,No,Travel_Frequently,1240,Research & Development,9,3,Medical,1,1071,...,2,80,1,18,4,3,5,4,0,3
823,29,No,Travel_Frequently,490,Research & Development,10,3,Life Sciences,1,1143,...,4,80,2,8,2,2,7,5,1,1
827,28,No,Travel_Frequently,773,Research & Development,6,3,Life Sciences,1,1154,...,4,80,1,3,2,3,3,1,0,2
845,40,No,Travel_Frequently,902,Research & Development,26,2,Medical,1,1180,...,4,80,1,16,3,1,1,1,0,0
881,32,No,Travel_Frequently,1316,Research & Development,2,2,Life Sciences,1,1235,...,4,80,0,10,2,3,8,7,0,7
900,36,No,Travel_Frequently,469,Research & Development,3,3,Technical Degree,1,1257,...,3,80,0,12,2,2,11,10,0,7
961,35,No,Travel_Frequently,482,Research & Development,4,4,Life Sciences,1,1350,...,2,80,0,9,3,3,9,6,1,1
982,38,No,Travel_Frequently,693,Research & Development,7,3,Life Sciences,1,1382,...,4,80,3,4,2,3,4,2,0,3
988,41,No,Travel_Frequently,1200,Research & Development,22,3,Life Sciences,1,1392,...,1,80,2,12,4,2,6,2,3,3
1015,34,No,Travel_Frequently,560,Research & Development,1,4,Other,1,1431,...,3,80,2,10,2,3,4,3,1,3
1168,24,No,Travel_Frequently,567,Research & Development,2,1,Technical Degree,1,1646,...,3,80,0,6,2,3,6,3,1,3
1170,27,No,Travel_Frequently,591,Research & Development,2,3,Medical,1,1648,...,3,80,0,6,0,2,4,2,1,2
1187,38,No,Travel_Frequently,1189,Research & Development,1,3,Life Sciences,1,1668,...,4,80,2,19,4,4,13,11,2,9
1215,35,No,Travel_Frequently,146,Research & Development,2,4,Medical,1,1704,...,3,80,0,6,2,4,5,4,1,4
1226,32,No,Travel_Frequently,585,Research & Development,10,3,Life Sciences,1,1720,...,1,80,1,10,3,2,5,2,1,3
1244,30,No,Travel_Frequently,1312,Research & Development,2,4,Technical Degree,1,1745,...,4,80,0,10,2,3,9,7,0,7
1334,27,No,Travel_Frequently,1131,Research & Development,15,3,Life Sciences,1,1870,...,4,80,1,8,2,2,7,6,7,3
1368,34,No,Travel_Frequently,735,Research & Development,22,4,Other,1,1932,...,2,80,0,16,3,3,15,10,6,11
1373,38,No,Travel_Frequently,1394,Research & Development,8,3,Medical,1,1937,...,3,80,1,20,3,3,20,11,0,7
1389,31,No,Travel_Frequently,1125,Research & Development,1,3,Life Sciences,1,1956,...,2,80,0,10,6,3,10,8,8,7

# PS : This Question got changed while the TA sessions were happening.

# 1

## Below are the employees who are from R&D Department and are Research Scientist, PerformanceRating>=3, JobSatisfaction score >=3 and EducationField not in "Life Sciences" & "Medical".

In [27]:
RnDSelectedEmployees = RnDResearchScientistiEmployees[(RnDResearchScientistiEmployees.PerformanceRating>=3) & (RnDResearchScientistiEmployees.JobSatisfaction>=3) & (RnDResearchScientistiEmployees.EducationField != "Life Sciences") & (RnDEmployees.EducationField != "Medical")]
RnDSelectedEmployees

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
765,38,No,Travel_Frequently,1186,Research & Development,3,4,Other,1,1060,...,1,80,1,8,2,3,2,2,2,2
1168,24,No,Travel_Frequently,567,Research & Development,2,1,Technical Degree,1,1646,...,3,80,0,6,2,3,6,3,1,3
1368,34,No,Travel_Frequently,735,Research & Development,22,4,Other,1,1932,...,2,80,0,16,3,3,15,10,6,11

## Below is the list of employees who are from R&D Department and are Research Scientist with PerformanceRating>=3, JobSatisfaction score >=3 and EducationField not in "Life Sciences" & "Medical".

In [28]:
print("Employees with below Employee Numbers will be the shortlisted candidates as per criteria who can be further interviewed by the company "+'\n')
print ((RnDSelectedEmployees['EmployeeNumber']).to_string(index=False))

Employees with below Employee Numbers will be the shortlisted candidates as per criteria who can be further interviewed by the company

 1060
 1646
 1932

# 2.

## Below are the sales employees whose current JobRole is Sales Executive or Manager.

In [29]:
SalesExecAndManagers = SalesEmployees[((SalesEmployees.JobRole == 'Sales Executive') | (SalesEmployees.JobRole == 'Manager'))]
SalesExecAndManagers

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
39,33,No,Travel_Frequently,1141,Sales,1,3,Life Sciences,1,52,...,1,80,2,10,3,3,5,3,1,3
43,27,No,Travel_Frequently,994,Sales,8,3,Life Sciences,1,56,...,4,80,0,9,0,3,9,8,1,7
48,46,No,Travel_Frequently,1211,Sales,5,4,Marketing,1,62,...,3,80,0,14,4,3,9,6,0,8
56,35,No,Travel_Frequently,853,Sales,18,5,Life Sciences,1,74,...,4,80,1,9,3,2,9,8,1,8
70,59,No,Travel_Frequently,1225,Sales,1,1,Life Sciences,1,91,...,4,80,0,20,2,2,4,3,1,3
117,36,No,Travel_Frequently,1467,Sales,11,2,Technical Degree,1,154,...,3,80,1,10,6,3,9,7,2,8
119,43,No,Travel_Frequently,394,Sales,26,2,Life Sciences,1,158,...,4,80,2,25,3,4,25,12,4,12
131,50,No,Travel_Frequently,809,Sales,12,3,Marketing,1,174,...,4,80,0,16,3,3,2,2,2,1
144,32,No,Travel_Frequently,689,Sales,9,2,Medical,1,195,...,4,80,3,9,2,4,8,7,0,7
154,32,No,Travel_Frequently,967,Sales,8,3,Marketing,1,207,...,4,80,0,9,2,3,9,8,3,7
212,27,No,Travel_Frequently,1242,Sales,20,3,Life Sciences,1,293,...,4,80,0,7,2,3,7,7,0,7
227,29,No,Travel_Frequently,1413,Sales,1,1,Medical,1,312,...,4,80,1,11,5,3,11,10,4,1
228,35,No,Travel_Frequently,944,Sales,1,3,Marketing,1,314,...,1,80,0,10,3,4,10,7,0,8
282,29,No,Travel_Frequently,442,Sales,2,2,Life Sciences,1,388,...,1,80,0,10,3,2,10,7,0,9
295,42,No,Travel_Frequently,555,Sales,26,3,Marketing,1,404,...,4,80,1,23,2,4,20,4,4,8
328,33,No,Travel_Frequently,508,Sales,10,3,Marketing,1,446,...,3,80,0,9,6,2,7,7,0,1
359,36,No,Travel_Frequently,541,Sales,3,4,Medical,1,481,...,1,80,1,16,2,3,13,9,1,12
401,56,No,Travel_Frequently,906,Sales,6,3,Life Sciences,1,532,...,4,80,3,36,0,2,7,7,7,7
427,60,No,Travel_Frequently,1499,Sales,28,3,Marketing,1,573,...,4,80,0,22,5,4,18,13,13,11
521,27,No,Travel_Frequently,1410,Sales,3,1,Medical,1,714,...,2,80,2,6,3,3,6,5,0,4
533,40,No,Travel_Frequently,580,Sales,5,4,Life Sciences,1,729,...,3,80,1,20,2,3,18,13,1,12
544,47,No,Travel_Frequently,217,Sales,3,3,Medical,1,746,...,4,80,2,28,2,2,22,2,11,13
548,43,No,Travel_Frequently,775,Sales,15,3,Life Sciences,1,754,...,3,80,1,7,5,3,2,2,2,2
576,27,No,Travel_Frequently,829,Sales,8,1,Marketing,1,800,...,2,80,1,5,3,3,4,2,1,1
641,32,No,Travel_Frequently,379,Sales,5,2,Life Sciences,1,889,...,4,80,1,10,3,3,10,8,5,3
685,26,No,Travel_Frequently,1283,Sales,1,3,Medical,1,956,...,2,80,0,7,2,3,7,7,0,7
760,53,No,Travel_Frequently,124,Sales,2,3,Marketing,1,1050,...,1,80,1,30,2,3,15,7,6,12
802,33,No,Travel_Frequently,970,Sales,7,3,Life Sciences,1,1114,...,3,80,1,4,3,3,3,2,0,2
820,35,No,Travel_Frequently,1182,Sales,11,2,Marketing,1,1137,...,4,80,1,5,3,3,5,2,0,2
866,40,No,Travel_Frequently,1184,Sales,2,4,Medical,1,1212,...,4,80,3,5,2,3,0,0,0,0
872,33,No,Travel_Frequently,1146,Sales,25,3,Medical,1,1220,...,1,80,1,10,3,2,10,7,0,1
918,51,No,Travel_Frequently,237,Sales,9,3,Life Sciences,1,1282,...,1,80,1,31,5,2,29,10,11,10
960,41,No,Travel_Frequently,1018,Sales,1,3,Marketing,1,1349,...,4,80,1,10,2,3,9,3,1,7
968,36,No,Travel_Frequently,607,Sales,7,3,Marketing,1,1362,...,4,80,1,17,2,2,15,7,6,13
974,27,No,Travel_Frequently,793,Sales,2,1,Life Sciences,1,1371,...,2,80,0,8,3,3,6,2,0,0
987,51,No,Travel_Frequently,541,Sales,2,3,Marketing,1,1391,...,2,80,0,14,5,3,4,2,3,2
990,33,No,Travel_Frequently,1111,Sales,5,1,Life Sciences,1,1395,...,1,80,0,8,2,4,5,4,1,2
1047,33,No,Travel_Frequently,430,Sales,7,3,Medical,1,1477,...,1,80,2,5,2,3,4,3,0,3
1051,44,No,Travel_Frequently,383,Sales,1,5,Marketing,1,1481,...,3,80,1,11,4,2,1,0,0,0
1070,28,No,Travel_Frequently,467,Sales,7,3,Life Sciences,1,1507,...,4,80,0,5,5,3,4,2,1,3
1144,31,No,Travel_Frequently,715,Sales,2,4,Other,1,1613,...,4,80,0,10,3,3,5,2,0,3
1211,37,No,Travel_Frequently,1278,Sales,1,4,Medical,1,1700,...,3,80,2,6,2,2,6,3,1,3
1292,39,No,Travel_Frequently,766,Sales,20,3,Life Sciences,1,1812,...,4,80,1,7,6,3,2,1,2,2
1306,31,No,Travel_Frequently,1125,Sales,7,4,Marketing,1,1833,...,4,80,2,9,3,3,3,2,2,2
1316,43,No,Travel_Frequently,1422,Sales,2,4,Life Sciences,1,1849,...,3,80,1,7,5,3,7,7,7,7
1319,32,No,Travel_Frequently,1318,Sales,10,4,Marketing,1,1853,...,3,80,0,4,2,4,0,0,0,0
1364,28,No,Travel_Frequently,783,Sales,1,2,Life Sciences,1,1927,...,3,80,1,7,2,3,7,7,0,7
1468,49,No,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,...,4,80,0,17,3,2,9,6,0,8

## Out of those who work as a Sales Executive or Manager, the company wants to give preference to those who are having PerformanceRating>=3, JobSatisfaction score >=3 and EducationField as "Marketing". On the basis of these conditions, report the shortlisted candidates who can be further interviewed by the company.

In [30]:
SalesSelectedEmployees = SalesExecAndManagers[(SalesExecAndManagers.PerformanceRating>=3) & (SalesExecAndManagers.JobSatisfaction>=3) & (SalesExecAndManagers.EducationField == "Marketing")]
SalesSelectedEmployees

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
48,46,No,Travel_Frequently,1211,Sales,5,4,Marketing,1,62,...,3,80,0,14,4,3,9,6,0,8
131,50,No,Travel_Frequently,809,Sales,12,3,Marketing,1,174,...,4,80,0,16,3,3,2,2,2,1
154,32,No,Travel_Frequently,967,Sales,8,3,Marketing,1,207,...,4,80,0,9,2,3,9,8,3,7
228,35,No,Travel_Frequently,944,Sales,1,3,Marketing,1,314,...,1,80,0,10,3,4,10,7,0,8
328,33,No,Travel_Frequently,508,Sales,10,3,Marketing,1,446,...,3,80,0,9,6,2,7,7,0,1
576,27,No,Travel_Frequently,829,Sales,8,1,Marketing,1,800,...,2,80,1,5,3,3,4,2,1,1
820,35,No,Travel_Frequently,1182,Sales,11,2,Marketing,1,1137,...,4,80,1,5,3,3,5,2,0,2
1051,44,No,Travel_Frequently,383,Sales,1,5,Marketing,1,1481,...,3,80,1,11,4,2,1,0,0,0
1319,32,No,Travel_Frequently,1318,Sales,10,4,Marketing,1,1853,...,3,80,0,4,2,4,0,0,0,0

In [31]:
print("Below Employee Numbers will be the shortlisted candidates as per criteria who can be further interviewed by the company "+'\n')
print ((SalesSelectedEmployees['EmployeeNumber']).to_string(index=False))

Below Employee Numbers will be the shortlisted candidates as per criteria who can be further interviewed by the company

   62
  174
  207
  314
  446
  800
 1137
 1481
 1853

## Employees with above employee Number satisfies the criteria from Sales Department these employees can be shortlisted for further inteviews.

# 3

## Human Resource: For the HR department, the FreeCell team wants to select the employees who have the best PerformanceRating and JobSatisfaction. Keeping this in mind, report the shortlisted candidates which can be further interviewed by the company.

In [32]:
hrEmployees.PerformanceRating.max() # Finding the best Performance Rating

4

In [33]:
hrEmployees.JobSatisfaction.max() # Finding the best Job Satisfaction

4

## Applying the conditions

In [34]:
hrSelectedEmployees = hrEmployees.sort_values(['PerformanceRating', 'JobSatisfaction'], ascending=[False, False])
hrSelectedEmployees[['EmployeeNumber','Attrition','BusinessTravel','Department','PerformanceRating','JobSatisfaction']]

,EmployeeNumber,Attrition,BusinessTravel,Department,PerformanceRating,JobSatisfaction
1347,1890,No,Travel_Frequently,Human Resources,4,4
1165,1642,No,Travel_Frequently,Human Resources,3,4
1245,1746,No,Travel_Frequently,Human Resources,3,4
1107,1563,No,Travel_Frequently,Human Resources,3,3
477,644,No,Travel_Frequently,Human Resources,3,2
923,1289,No,Travel_Frequently,Human Resources,3,2
1400,1972,No,Travel_Frequently,Human Resources,3,2

In [35]:
print("Below Employee Numbers will be the shortlisted candidates as per criteria who can be further interviewed by the company "+'\n')
print ((hrSelectedEmployees['EmployeeNumber']).to_string(index=False))

Below Employee Numbers will be the shortlisted candidates as per criteria who can be further interviewed by the company

 1890
 1642
 1746
 1563
  644
 1289
 1972

## Employees with above employee Number in the sorted format top to bottom(desc) satisfies the criteria.